# **Day 1 - Working with Variables in Python to Manage Data**

# **Printing in Python**

**Definition/Concept:**

Printing in Python is used to output data to the console or terminal. It is a fundamental operation for displaying information, debugging, and interacting with users.

**Syntax/Code:**

To print data in Python, we use the print() function. Hereâ€™s a basic example:

In [ ]:
print("Hello world")

Hello world

# **How It Works**

The print() function works as follows:

**Function Call:** It starts with the print keyword, followed by parentheses ().

**Inside Parentheses:** Inside the parentheses, you specify the data or values you want to print. This can include text, numbers, or other variables.

**Output:** When the code is executed, the print() function sends the specified data to the console or terminal, displaying it for the user to see.

# **Details:**
*   print() is a built-in function in Python.
*   You can print strings, numbers, and
    other data types.
*   Multiple items can be printed together,
    separated by commas.

In [5]:
# Printing String
print("Hello World")

Hello World

In [6]:
# Printing Numbers
print(123)
print(1.5)

123
1.5

In [7]:
# Printing multiple items separated by comma
print("Hello", 123)

Hello 123

# **Print Modifiers**

**Definition/Concept:**

Sometimes, when you want to include quotation marks within a string, it can lead to errors or confusion because Python might misinterpret the nested quotes. Print modifiers help handle such situations by allowing the inclusion of quotes within strings without causing syntax errors.


**Problem Example:**

If you want to print a string that contains both single and double quotes, such as:

**print("Hi, my name is "Snigdha". I am 20 years old.")**

This will cause an error because the quotes inside the string conflict with the quotes used to define the string.

# **Solution:**

To resolve this, you can use different types of quotes to enclose the string, or escape the quotes within the string.

In [ ]:
# Approach 1
# Using Different Quotes: If the string contains double quotes, you can enclose it in single quotes or vice versa.

print("Hi, my name is 'Snigdha'. I am 20 years old.")
print('Hi, my name is "Snigdha". I am 20 years old.')

Hi, my name is 'Snigdha'. I am 20 years old.
Hi, my name is "Snigdha". I am 20 years old.

In [8]:
# Approach 2
# Escaping Quotes: Use the backslash \ to escape quotes within the string.
print("Hi, my name is \"Snigdha\". I am 20 years old.")

Hi, my name is "Snigdha". I am 20 years old.

# **New Line Character (\n)**
**Definition/Concept:**

The newline character \n is used in Python to insert a line break within a string. It allows you to format text output by splitting it across multiple lines.

**Syntax/Code:**

To use the newline character, include \n in the string where you want the line break to occur.

In [3]:
print("Hello World!!\nI am Snigdha.")

Hello World!!
I am Snigdha.

# **String Concatenation Using "+"**

**Definition/Concept:**

String concatenation refers to the process of joining two or more strings together to form a single string. In Python, you can concatenate strings using the + operator.

**Syntax/Code:**

To concatenate strings, use the + operator between the strings you want to join.

Handling Spacing in String Concatenation
Definition/Concept:
When concatenating strings, managing spaces between them is crucial for correct formatting. The + operator combines strings, but it does not automatically include spaces unless specified.

# **Handling Spacing in String Concatenation**
**Definition/Concept:**

When concatenating strings, managing spaces between them is crucial for correct formatting. The + operator combines strings, but it does not automatically include spaces unless specified.

**Details:**



*   Concatenation with Trailing Space: "Hi " + "World" includes a space at the end of "Hi", so the output has the correct spacing.
*   Concatenation with Leading Space: "Hi" + " World" has the space before "World", so the output is correctly spaced.

*   Concatenation with Explicit Space: "Hi" + " " + "World" manually adds a space between the two strings.

**Best Practices:**

1.   Use explicit spaces (" ") when needed to ensure proper formatting between concatenated strings.
2.   Be mindful of trailing or leading spaces in strings to avoid unintended formatting issues.

In [10]:
# Without Space Between Strings
print("Hi" + "World")

HiWorld

In [11]:
# Space Before the First String
print("Hi " + "World")

Hi World

In [12]:
# Space Before the Second String
print("Hi" + " World")

Hi World

In [13]:
# Explicit Space Between Strings
print("Hi" + " " + "World")

Hi World

# **The input() Function**
**Definition/Concept:**

The input() function in Python is used to take user input from the console. It reads a line of text entered by the user and returns it as a string. This is commonly used for interactive programs where user interaction is required.

**Syntax/code:**

input(prompt)

**Here:**

**input():** It is the built-in function in Python.

**prompt (optional):** A string that is displayed to the user before they enter their input. It helps to guide the user on what kind of input is expected.

In [15]:
print("Hello " + input("What is your name? "))

What is your name? Snigdha
Hello Snigdha

# **Comments in Python**

**Definition/Concept:**

Comments in Python are used to include explanatory notes in the code. They help make the code more readable and understandable for humans. Comments are ignored by the Python interpreter and do not affect the execution of the program.

**Types of Comments:**
*   Single-Line Comments
*   Multi-Line Comments

# **1. Single-Line Comments**

**Syntax:**

Single-line comments begin with the # symbol. Everything following the # on that line is considered a comment.


**Details:**

Single-line comments are used for brief explanations or notes about a specific line of code.
Inline comments can be used to add explanations next to code statements.

In [16]:
# This is a single-line comment
print("Hello, World!")  # This is an inline comment

Hello, World!

# **2. Multi-Line Comments**

**Syntax:**

Multi-line comments can be created using triple quotes (''' or """). These are technically multi-line string literals, but they are used as comments when not assigned to any variable.


**Details:**


*   Multi-line comments are useful for providing detailed explanations or documentation about larger sections of code.
*   Although triple quotes are used for multi-line comments, they are actually string literals and are not removed by the interpreter if not assigned to a variable. However, they are commonly used for this purpose in practice.

In [18]:
"""
This is a multi-line comment.
It spans multiple lines and can be used for longer explanations
or documentation within the code.
"""
print("Hello, World!")

# OR

'''
This is another way to write a multi-line comment.
Triple single quotes work the same as triple double quotes.
'''
print("Hello, World!")

Hello, World!
Hello, World!

**Best Practices:**

Use **single-line comments** for short notes and inline explanations.

Use **multi-line comments** for longer explanations, documentation, or to comment out blocks of code during debugging.

# **The len() Function**

**Definition/Concept:**

The len() function in Python is used to determine the length of an object. It returns the number of items in an object, such as the number of characters in a string, the number of elements in a list, or the number of keys in a dictionary.

In [20]:
print(len(input("Enter your name. I will tell the number of letters it has: ")))

Enter your name. I will tell the number of letters it has: Snigdha
7

# **Variables in Python**

**Definition/Concept:**

A variable in Python is a named location used to store data in memory. Variables act as placeholders for values, allowing you to reference and manipulate data throughout your program.

**Syntax/Code:**

To create a variable, simply assign a value to a name using the = operator.

variable_name = value

In [26]:
# Here, age is a variable storing the integer 20, and name is a variable storing the string "Snigdha".
age = 20
name = "Snigdha"
print("My name is", name, "and I am", age, "years old.")

My name is Snigdha and I am 20 years old.

In [27]:
# Reassigning a Value

x = 10
x = 20
print(x)  # Output: 20

20

In [28]:
# Using Variables in Expressions
a = 5
b = 10
sum = a + b
print(sum)  # Output: 15

15

# **Variable Naming Rules in Python**

**1. Start with a Letter or Underscore:**

*   Variable names must start with a letter (a-z, A-Z) or an underscore (_).
*   They cannot start with a digit.

In [29]:
valid_variable = 10
_variable = 20
name1 = "Snigdha"

In [30]:
1name = "Bob"  # Invalid

SyntaxError: invalid decimal literal (<ipython-input-30-9d0b9ec1d6e8>, line 1)

**2. Followed by Letters, Digits, or Underscores:**

*   After the first character, variable names can include letters, digits, and underscores.

In [31]:
variable_name = "value"
variable_name1 = "value1"
var_name_2 = "value2"

**3. Case Sensitivity:**

*   Variable names are case-sensitive. myvariable, MyVariable, and MYVARIABLE are considered different variables.

In [32]:
myvariable = 10
MyVariable = 20
MYVARIABLE = 30

**4. No Reserved Keywords:**


*   Variable names cannot be reserved keywords or identifiers used by Python's syntax (e.g., if, while, class, import).

In [33]:
# Reserved keywords (Invalid)
if = "test"  # Invalid
class = "example"  # Invalid

SyntaxError: invalid syntax (<ipython-input-33-2ba2d5eda0f1>, line 2)

**5. Use Descriptive Names:**


*   Choose meaningful names that describe the purpose of the variable. This improves code readability.

In [34]:
total_price = 100
user_age = 25
average_score = 87.5

**6. Avoid Special Characters and Spaces:**


*   Variable names cannot contain spaces or special characters other than underscores.

In [35]:
valid_variable_name = "value"
another_valid_name = "value"

In [36]:
invalid-variable-name = "value"  # Invalid
invalid variable name = "value"  # Invalid

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-36-1d149849ada2>, line 1)

**7. Use Underscores for Readability:**


*   For multi-word variable names, use underscores to separate words (known as snake_case).

In [37]:
first_name = "John"
last_name = "Doe"
total_amount_due = 500