# **Day 2 -  Understanding Data Types and How to Manipulate Strings**

# **Data Types in Python**

**Introduction**

In Python, data types are used to specify the type of value a variable holds. Understanding data types is crucial for performing operations on variables and ensuring that they are used correctly.

# Basic Data Types

1. Integers (int)
2. Floating-Point Numbers (float)
3. Strings (str)
4. Booleans (bool)

# Collection Data Types

1. Lists (list)
2. Tuples (tuple)
3. Dictionaries (dict)
4. Sets (set)

# **Basic Data Types**

# 1. Integers (int)

Represents whole numbers.

Example: 5, -23, 0

In [1]:
a = 87
b = -9
c = 0

# 2. Floating-Point Numbers (float)

Represents real numbers with a decimal point.

Example: 3.14, -0.001, 2.0

In [2]:
a = 8.9
b = -98.92
c = 0.987

# 3. Strings (str)

Represents a sequence of characters enclosed in single or double quotes.

Example: "Hello, World!", 'Python'

In [1]:
message = "Hello, World!"
language = 'Python'

# 4. Booleans (bool)

Represents True or False.

Used for logical operations and conditions.

In [2]:
is_active = True
is_verified = False

# **Collection Data Types**

# 1. Lists (list)

An ordered, mutable collection of items. Can contain elements of different data types.

Example: [1, 2, 3], ['a', 'b', 'c']

In [3]:
numbers = [1, 2, 3, 4]
mixed_list = [1, 'two', 3.0]

# 2. Tuples (tuple)

An ordered, immutable collection of items. Once created, its elements cannot be changed.

Example: (1, 2, 3), ('a', 'b', 'c')

In [4]:
coordinates = (10.0, 20.0)
person = ('Alice', 30)

# 3. Dictionaries (dict)

A collection of key-value pairs. Keys must be unique and immutable.

Example: {'name': 'Alice', 'age': 30}

In [5]:
student = {'name': 'Alice', 'age': 30}

# 4. Sets (set)

An unordered collection of unique items.

Example: {1, 2, 3}, {'apple', 'banana', 'cherry'}

In [6]:
unique_numbers = {1, 2, 3, 4}
fruits = {'apple', 'banana', 'cherry'}

# **Subscripting**

**Subscripting**

Subscripting, also known as indexing, is used to access individual elements of a sequence data type (like lists, tuples, and strings) using an index.

# Lists
**Accessing Elements:** Use an index to access elements in a list. Indexing starts at 0.

**Syntax:** list[index]

**Negative Indexing:** You can use negative indices to access elements from the end of the list. -1 is the last element.

In [8]:
fruits = ['apple', 'banana', 'cherry']
print(fruits[0])  # Output: apple
print(fruits[1])  # Output: banana
print(fruits[-1])  # Output: cherry

apple
banana
cherry

# Tuples
Accessing Elements: Similar to lists, use an index to access elements in a tuple.

**Syntax:** tuple[index]

In [9]:
coordinates = (10.0, 20.0, 30.0)
print(coordinates[0])  # Output: 10.0

10.0

# Strings
Accessing Characters: Use an index to access individual characters in a string.

**Syntax:** string[index]

In [10]:
message = "Hello, World!"
print(message[0])  # Output: H
print(message[-1]) # Output: !

H
!

# **Checking Data Types**
Use the type() function to determine the type of a variable.

In [11]:
a = 10
print(type(a))  # Output: <class 'int'>

<class 'int'>

# **Type Conversion or Type Casting**
1. int(): Convert to integer
2. float(): Convert to float
3. str(): Convert to string
4. list(): Convert to list
5. tuple(): Convert to tuple
6. set(): Convert to set
7. dict(): Convert to dictionary

In [15]:
num_int = 123
num_str = str(num_int)  # Converts integer to string
print("Snigdha" + num_str)  # Output: Snigdha123

Snigdha123

# **Mathematical Operators in Python**

Mathematical operators are used to perform arithmetic operations on numbers. Python supports several mathematical operators that can be applied to integers and floating-point numbers.

# Basic Operators
1. Addition (+)
2. Subtraction (-)
3. Multiplication (*)
4. Division (/)
5. Floor Division (//)
6. Modulus (%)
7. Exponentiation (**)

# Operator Precedence:  
Parentheses

Exponents

Multiplication

Division

Addition

Subtraction

# Addition (+)

Adds two values.

**Syntax:** a + b

In [16]:
x = 10
y = 5
result = x + y
print(result)  # Output: 15

15

# Subtraction (-)

Subtracts the second value from the first value.

**Syntax:** a - b

In [17]:
x = 10
y = 5
result = x - y
print(result)  # Output: 5

5

# Multiplication (*)

Multiplies two values.

**Syntax:** a * b

In [18]:
x = 10
y = 5
result = x * y
print(result)  # Output: 50

50

# Division (/)

Divides the first value by the second value. The result is a floating-point number.

**Syntax:** a / b

In [19]:
x = 10
y = 3
result = x / y
print(result)  # Output: 3.3333333333333335

3.3333333333333335

# Floor Division (//)

Divides the first value by the second value and returns the integer part of the quotient (truncated).

**Syntax:** a // b

In [20]:
x = 10
y = 3
result = x // y
print(result)  # Output: 3

3

# Modulus (%)

Returns the remainder of the division of the first value by the second value.

**Syntax:** a % b

In [21]:
x = 10
y = 3
result = x % y
print(result)  # Output: 1

1

# Exponentiation (**)

Raises the first value to the power of the second value.

**Syntax:** a ** b

In [22]:
x = 2
y = 3
result = x ** y
print(result)  # Output: 8

8

# **The round() Function in Python**

The round() function is used to round a floating-point number to a specified number of decimal places. It can also round to the nearest integer if no number of decimal places is provided.

**Syntax:** round(number, ndigits)

**number:** The number you want to round.

**ndigits (optional):** The number of decimal places to round to. If omitted, the function rounds to the nearest integer.

# Rounding to a Specific Number of Decimal Places

In [23]:
# Round to 2 Decimal Places

num = 3.14159
rounded_num = round(num, 2)
print(rounded_num)  # Output: 3.14

3.14

In [24]:
# Round to 1 Decimal Place

num = 5.678
rounded_num = round(num, 1)
print(rounded_num)  # Output: 5.7

5.7

# Rounding to the Nearest Integer

In [25]:
# If the ndigits parameter is not specified, the function rounds to the nearest integer
num = 7.8
rounded_num = round(num)
print(rounded_num)  # Output: 8

8

# Rounding Halfway Cases
When rounding halfway cases (e.g., 2.5), Python uses "round half to even" (also known as "bankers' rounding"), which rounds to the nearest even number.

In [27]:
# Halfway Case
num = 2.5
rounded_num = round(num)
print(rounded_num)  # Output: 2

2

# **Assignment Operators and Shorthand in Python**

**Assignment Operators**

Assignment operators are used to assign values to variables. The basic assignment operator is =.

**Basic Assignment**

**Syntax:** variable = value

In [28]:
x = 10
name = "Alice"

# **Shorthand Assignment Operators**

Shorthand assignment operators combine an arithmetic operation with an assignment. They provide a concise way to update the value of a variable.

+= for addition

-= for subtraction

*= for multiplication

/= for division

//= for floor division

%= for modulus

**= for exponentiation

# Addition Assignment (+=)
**Syntax:** variable += value

Adds the value to the variable and assigns the result to the variable.

In [29]:
x = 10
x += 5
print(x)  # Output: 15

15

# Subtraction Assignment (-=)
**Syntax:** variable -= value

Subtracts the value from the variable and assigns the result to the variable.

In [30]:
x = 10
x -= 3
print(x)  # Output: 7

7

# Multiplication Assignment (*=)
**Syntax:** variable *= value

Multiplies the variable by the value and assigns the result to the variable.

In [31]:
x = 10
x *= 4
print(x)  # Output: 40

40

# Division Assignment (/=)
**Syntax:** variable /= value

Divides the variable by the value and assigns the result to the variable. The result is always a floating-point number.

In [32]:
x = 10
x /= 2
print(x)  # Output: 5.0

5.0

# Floor Division Assignment (//=)
**Syntax:** variable //= value

Performs floor division (integer division) and assigns the result to the variable.

In [33]:
x = 10
x //= 3
print(x)  # Output: 3

3

# Modulus Assignment (%=)
**Syntax:** variable %= value

Takes the modulus of the variable with the value and assigns the result to the variable.

In [34]:
x = 10
x %= 4
print(x)  # Output: 2

2

# Exponentiation Assignment (**=)
**Syntax:** variable **= value

Raises the variable to the power of the value and assigns the result to the variable.

In [35]:
x = 2
x **= 3
print(x)  # Output: 8

8

# **F-Strings in Python**

F-strings, introduced in Python 3.6, provide a way to embed expressions inside string literals for formatted string interpolation. They are a more concise and readable alternative to the older str.format() method and the % operator.

**Syntax**

F-strings are created by prefixing a string literal with the letter f or F. Expressions inside curly braces {} are evaluated at runtime and formatted using the specified format.

**Syntax:** f"Your string {expression}"

# Basic Usage
1. Embedding Variables
2. Expressions Inside F-Strings
3. Calling Functions Inside F-Strings

In [36]:
# Embedding Variables

name = "Alice"
age = 30
greeting = f"Hello, my name is {name} and I am {age} years old."
print(greeting)  # Output: Hello, my name is Alice and I am 30 years old.

Hello, my name is Alice and I am 30 years old.

In [37]:
# Expressions Inside F-Strings
a = 5
b = 10
result = f"The sum of {a} and {b} is {a + b}."
print(result)  # Output: The sum of 5 and 10 is 15.

The sum of 5 and 10 is 15.

In [38]:
# Calling Functions Inside F-Strings
def greet(name):
    return f"Hello, {name}!"

name = "Bob"
message = f"{greet(name)} How are you today?"
print(message)  # Output: Hello, Bob! How are you today?

Hello, Bob! How are you today?

# Formatting with F-Strings
F-strings also support various formatting options similar to those used with str.format().

1. Decimal Places
2. Padding and Alignment
3. Number Formatting
4. Date Formatting

# Advantages of F-Strings
**Readability:** More readable and concise compared to other formatting methods.

**Performance:** Generally faster than str.format() because expressions are evaluated at runtime directly.

**Flexibility:** Allows for direct embedding of expressions and function calls within the string.

In [39]:
# Decimal Places
value = 3.14159
formatted_value = f"The value of pi is approximately {value:.2f}."
print(formatted_value)  # Output: The value of pi is approximately 3.14.

The value of pi is approximately 3.14.

In [40]:
# Padding and Alignment

number = 42
padded_number = f"{number:10}"  # Right-aligns with padding
print(f"'{padded_number}'")  # Output: '        42'

left_aligned = f"{number:<10}"  # Left-aligns with padding
print(f"'{left_aligned}'")  # Output: '42

'        42'
'42        '

In [41]:
# Number Formatting

large_number = 1234567.891
formatted_number = f"{large_number:,}"  # Includes commas as thousand separators
print(formatted_number)  # Output: 1,234,567.891

1,234,567.891

In [42]:
# Date Formatting

from datetime import datetime
now = datetime.now()
formatted_date = f"Current date and time: {now:%Y-%m-%d %H:%M:%S}"
print(formatted_date)  # Output: Current date and time: 2024-07-31 15:30:00

Current date and time: 2024-07-31 17:46:40