# **Day 5 - Loop**

## **1. Loops: `while` and `for`**

**1.1 `while` Loop:**
- Executes a block of code as long as the specified condition is `True`.
- **Syntax:**
  ```
  while condition:
      # Code block
  ```

**1.2 `for` Loop:**

- Iterates over a sequence (like a list, tuple, or string) and executes a block of code for each item in the sequence.

```
for item in sequence:
    # Code block
```

## **Key Differences:**

- **while loop:** Used when the number of iterations is not known beforehand and depends on a condition.

- **for loop:** Used when iterating over a sequence or when the number of iterations is predetermined.

In [1]:
# Example of while loop
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [2]:
# Example of for loop
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [3]:
# Example to find the higest marks in the reportcard
marks = [90, 85, 78, 92, 88]
highest_marks = 0
for mark in marks:
    if mark > highest_marks:
        highest_marks = mark
print("The highest marks in the reportcard is:", highest_marks)

The highest marks in the reportcard is: 92

In [4]:
# Example to do the sum of marks in the marksheet
marks = [90, 85, 78, 92, 88]
total_marks = 0
for mark in marks:
    total_marks += mark
print("The total marks in the marksheet is:", total_marks)

The total marks in the marksheet is: 433

## **Function: `range()`**

- **Description:**
  - The `range()` function generates a sequence of numbers, often used in `for` loops to iterate a specific number of times.

- **Syntax:**
  ```
  range(start, stop, step)
```

  - **start (optional):** The starting value of the sequence (default is 0).

  - **stop:** The value at which the sequence stops (not included in the sequence).

  - **step (optional):** The difference between each number in the sequence (default is 1).

In [5]:
# Example: usage in for Loops
for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
# Example: Converting to List
print(list(range(5)))

[0, 1, 2, 3, 4]

## **Task 1: Fizzbuzz game**

**Description:**

The goal is to print numbers from 1 to 100, but with a twist:

- Print `"Fizz"` for numbers divisible by 3.

- Print `"Buzz"` for numbers divisible by 5.

- Print `"FizzBuzz"` for numbers divisible by both 3 and 5.

- Print the number itself if it is not divisible by 3 or 5.

In [8]:
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz